*~
.*.swp
/.aswb/
/.cache/
/.classpath
/.clwb/
/.factorypath
/.idea/
/.ijwb/
/.project
/.settings
/bazel.iml
/bazel-*
/custom-*
/output/
/production
/.sass-cache
user.bazelrc
/.bsp/skbsp.json
/.bsp/sourcekit-bazel-bsp
/.bsp/skbsp_generated/
/.sourcekit-lsp/config.json