.DS_Store
default.profraw
Package.resolved
.build
/.*-build
/Packages
/*.xcodeproj
/*.sublime-project
/*.sublime-workspace
/.swiftpm
.*.sw?
__pycache__
/.vscode/
swift-cmark
bazel-*
archives/
/MODULE.bazel.lock
Example/MODULE.bazel.lock
/.bsp/